* {
  all: unset;
}

.media {
  padding: 20px;
  border-radius: 0px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 2px solid rgba(51, 204, 255, 0.4);
}

.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #cdd6f4;
}

.artist {
  font-weight: 600;
  color: #bac2de;
}

.progressbar scale trough highlight {
  background-color: #b4befe;
  border-radius: 2.5px;
}

.progressbar scale trough {
  background-color: #6c7086;
  border-radius: 2.5px;
  min-height: 5px;
  min-width: 250px;
}

.output-device {
  font-family: "JetBrainsMono Nerd Font";
  background-color: #45475a;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  font-weight: 900;
  color: #cdd6f4;
}

.location,
.cond {
  font-weight: 500;
}

.icon {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 17px;
  font-weight: 800;
  color: #9399b2;
}

.time {
  padding: 20px;
  border-radius: 0px;
  background-color: rgba(30, 30, 46, 0.4);
  border: 2px solid rgba(204, 153, 255, 0.4);
}

.time-label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 4em;
  font-weight: bold;
  color: #f5c2e7;
}
