@import "tokyo-night.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  min-height: 20px;
  font-size: 12px;
  font-weight: bold;
  /* border: 1px solid red; */
}

window#waybar {
  background: transparent;
  color: @overlay0;
  transition: background-color 0.1s;
}

#window {
  color: @milkPink;
  margin: 0px 8px;
  padding: 0px 8px;
}

/* Background EACH  */
#taskbar {
  background: @crust;
  color: @milkPink;
  border-radius: 5px;
  padding: 0em;
  margin-top: 0.4em;
  margin-left: 0.5em;
}

#taskbar button {
  padding: 0;
  margin: 0;
  padding: 0.3em 0.6em;
}

#clock,
#clock.date,
#clock.time {
  background: @crust;
  margin-top: 0.3em;
  margin-left: 0.5em;
  border-radius: 5px;
  padding: 0.3em 1.5em;
}

#workspaces {
  background: @crust;
  color: @milkPink;
  border-radius: 5px;
  padding: 0em;
  margin-top: 0.4em;
  font-size: 14px;
}

#workspaces button {
  padding: 0;
  margin: 0;
  padding: 0.3em 0.6em;
  border-radius: 5px;
}

#workspaces button.active,
#workspaces button.focused,
#workspaces button.hover {
  background: @blue;
  font-weight: bold;
}
#workspaces button.urgent {
  color: @red;
}

#tray,
#memory,
#custom-gpu,
#cpu,
#custom-power {
  background: @crust;
  margin-top: 0.3em;
  margin-right: 0.5em;

  border-radius: 5px;
  padding: 0.1em 1.3em;
}

#pulseaudio,
#custom-brightness {
  background: @crust;
  margin-top: 0.3em;
  padding-right: 1em;
}

#custom-network {
  border-radius: 5px 0px 0px 5px;
  background: @crust;
  margin-top: 0.3em;
  padding: 0em 1.2em;
}

#custom-clipboard {
  border-radius: 0px 5px 5px 0px;
  background: @crust;
  margin-top: 0.3em;
  margin-right: 0.5em;
  padding-right: 1.3em;
}

/* Colors */
#clock {
  color: @milkPink;
}

#custom-network,
#custom-updates,
#pulseaudio,
#custom-brightness,
#custom-clipboard {
  color: @milkPink;
}

#battery {
  color: @green;
}
